{{ form_start(form) }}
    {{ form_widget(form) }}
    <div class="float-right">
        <a  class="btn btn-danger" href="{{ path('calendar')}}">
            Annuler
        </a>
        <button class="btn btn-primary">{{ button_label|default('Enregistrer') }}</button>
    </div>
{{ form_end(form) }}


