{% extends '@!EasyAdmin/default/layout.html.twig' %}


{% block page_title %}Destockage Produits{% endblock %}





{% block head_stylesheets %}
<link rel="stylesheet" href="{{ asset('bundles/easyadmin/app.css') }}">
{# ------------------------------------------------------------CSS GOES HERE-------------------------------------------------------#}
{% endblock %}


{% block content %}
<div class="content">
    {% block content_header_wrapper %}
    {% set _has_content_help = _entity_config is defined and _entity_config[app.request.query.get('action')]['help']|default(false) %}
    <section class="content-header {{ _has_content_help ? 'has-content-help' }}">
        {% block content_header %}
        <div class="d-flex flex-row justify-content-between align-content-center w-100">
            <div class="content-header-title">
                <h1 class="title">Destockage de Produits</h1>
            </div>
        </div>

        {% block content_help %}
        {% if _entity_config is defined and _entity_config[app.request.query.get('action')]['help']|default(false) %}
        <div class="content-header-help">
            {{ _entity_config[app.request.query.get('action')]['help']|trans(domain = _entity_config.translation_domain)|raw }}
        </div>
        {% endif %}
        {% endblock content_help %}
        {% endblock content_header %}
    </section>
    {% endblock content_header_wrapper %}

    <section id="main" class="content-body">
        {% block main %}



        <div class="container" id="container">
            <form action="" autocomplete="off">
                <h1 class="mt-4">Veuillez choisir les produits que vous souhaitez destocker: </h1>
                <div class="row mt-5 ml-5" id="items">
                    {% if data is defined and data != null %}
                    {% for item in data %}

                        <div class="col-4">
                            <label id="product-name0" type="text" name="product-name" >{{item.productName}}</label>
                        </div>
                        <div class="col-4">
                            <div class="btn" id="sub{{loop.index}}" onclick="change('{{loop.index}}','sub')">-</div>
                            <input type="text" id="quantity{{loop.index}}" name="product-quantity"
                                style="width: 14%; text-align: center;" max={{item.quantity}}>
                            <div class="btn" id="add{{loop.index}}" onclick="change('{{loop.index}}','add')">+</div>
                        </div>
                        <div class="col-4">
                            <div class="btn btn-danger" id="reset{{loop.index}}" onclick="reset('{{loop.index}}')">X</div>
                        </div>

                    {% endfor %}

                    
                    {% else %}
                    <h1 class="text-center">Il n'y a aucun Produit en stock</h1>
                    {% endif %}
                </div>
            </form>
        </div>


        {% endblock %}
    </section>

    {% block content_footer_wrapper %}
    <section class="content-footer">
        {% block content_footer %}
        <div id="valider" class="btn btn-primary float-right mb-3 mx-4">Valider</div>
        <a class=" btn btn-link pr-0 action-list float-right mb-3" title="" href="/admin/?entity=Entry&amp;action=list"
            target="_self">Retour à la liste</a>
        {% endblock %}
    </section>
    {% endblock %}
</div>


{% endblock content %}





{% block body_javascript %}

{# ------------------------------------------------------------JS GOES HERE-------------------------------------------------------#}
<script>


    i = 0;
    id = '';

    function reset(i) {
        document.getElementById('quantity' + i).value = null
    }


    function change(id,s) {


        value = parseInt(document.getElementById('quantity' + id).value)
        if (s == 'add') {
            if (!value) document.getElementById('quantity' + id).value = 1;
            if (value < parseInt(document.getElementById('quantity' + id).max))
                document.getElementById('quantity' + id).value = value + 1;
        }
        else
            if (value > 0)
                document.getElementById('quantity' + id).value = value - 1;

    }

    function create(arr, id) {
        for (let i = 0; i < arr.length; i++)
            document.getElementById(arr[i]).setAttribute("id", arr[i] + id)
    }


    function getId(id) {
        window.id = id
    }

    function remove(arr, id) {

        for (let i = 0; i < arr.length; i++)
            document.getElementById(arr[i] + id).remove()
    }


    $("#valider").click(() => {
        
        names = [...document.querySelectorAll('label')]
        quantity = [...document.querySelectorAll('input')]
        quantity.shift()

        newData = []
        for ( let i = 0 ; i < names.length ; i++ ) {
            newData.push([names[i].innerText,quantity[i].max - quantity[i].value])
        }

    })



/* $.ajax({
    type: "POST",
    url: '{{ path('avisDemandeur', {dossier: dossier.cbMarq}) }}',
    data: {"commentaire": val, "Decision": acceptation},
    success: function (data) {
        {% if dossier.TypeDossier.cbMarq == 1 %}
        window.location = '{{ path('comission', {dossier: dossier.cbMarq}) }}';
        {% else %}
        window.location = '{{ path('Décision', {dossier: dossier.cbMarq}) }}';
        {% endif %}
    }
});*/
</script>
{% endblock body_javascript %}

{% block body_custom_javascript %}
{% for js_asset in easyadmin_config('design.assets.js') %}
<script src="{{ asset(js_asset) }}"></script>
{% endfor %}
{% endblock body_custom_javascript %}